<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{% block stylesheets %}
			<link rel="preconnect" href="https://fonts.googleapis.com">
			<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
			<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">

			{% block page_styles %}{% endblock %}
		{% endblock %}


		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}

	</head>
	<body>
		<header class="gg-navbar">
			<div class="gg-container">
				<a href="{{ path('app_home') }}" class="gg-brand">
					<span class="gg-logo">G</span>
					<span class="gg-name">Green Goodies</span>
				</a>

				<nav class="gg-nav">
					<a href="{{ path('app_product') }}">Nos produits</a>

					{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
						<a href="{{ path('app_cart_index') }}">Mon panier</a>
						<a href="{{ path('orders_show') }}">Mon compte</a>
						<a href="{{ path('app_logout') }}">Déconnexion</a>
					{% else %}
						<a href="{{ path('app_login') }}">Connexion</a>
					{% endif %}
				</nav>
			</div>
		</header>

		<main>
			{% block body %}{% endblock %}
		</main>
		<footer>
			<span class="footer-txt">© GreenGoodies - 2024</span>
		</footer>
	</body>
</html>
